@page "/gallery"
@inherits BaseComponent
@inject IPhotoService PhotoService
@inject NavigationManager NavigationManager


<link href="/css/collapsible.css" rel="stylesheet" />
<AuthorizeView>
    <Authorized>
        <UploadImagesControl OnSubmitCallback="RefreshGallery" @ref="uploadImages"></UploadImagesControl>

        <PhotoGrid @ref="photoGrid"></PhotoGrid>
    </Authorized>
    <NotAuthorized>
        <p>Authorized access olny!</p>
    </NotAuthorized>
</AuthorizeView>


@code {
    public PhotoGrid photoGrid { get; set; } = new PhotoGrid();
    public UploadImagesControl uploadImages { get; set; }


    private async Task RefreshGallery()
    {
       uploadImages.Refresh();
       await photoGrid.Refresh();
    }

}


